#FPGA_CLK   : IN  STD_LOGIC; -- GLAVNI TAKT
#FPGA_RESET : IN  STD_LOGIC; -- GLAVNI RESET
#UI_SW0     : IN  STD_LOGIC; -- RESET    PREKIDAC
#UI_SW1     : IN  STD_LOGIC; -- STOP     PREKIDAC
#UI_SW2     : IN  STD_LOGIC; -- START    PREKIDAC
#UI_SW3     : IN  STD_LOGIC; -- CONTINUE PREKIDAC
#-- LED OUTS
#UI_LED0    : OUT STD_LOGIC;
#UI_LED1    : OUT STD_LOGIC;
#UI_LED2    : OUT STD_LOGIC;
#UI_LED3    : OUT STD_LOGIC;
#UI_LED4    : OUT STD_LOGIC;
#UI_LED5    : OUT STD_LOGIC;
#UI_LED6    : OUT STD_LOGIC;
#UI_LED7    : OUT STD_LOGIC

NET "FPGA_CLK" LOC = "M21";
NET "FPGA_RESET" LOC = "AE24";

NET "UI_SW0" LOC = "W19";
NET "UI_SW1" LOC = "Y24";
NET "UI_SW2" LOC = "K19";
NET "UI_SW3" LOC = "V24";

NET "UI_LED0" LOC = "N24";
NET "UI_LED1" LOC = "N23";
NET "UI_LED2" LOC = "M24";
NET "UI_LED3" LOC = "L24";
NET "UI_LED4" LOC = "L23";
NET "UI_LED5" LOC = "K24";
NET "UI_LED6" LOC = "H24";
NET "UI_LED7" LOC = "D24";